.carousel {
  margin: auto;
  max-height: 600px;
  background-color:rgba(0, 0, 0, 0.704);


}

.carousel-inner img {

  margin: auto;
  height: 600px;

}

iframe {
  height: 300px;
  width: 75%;
}


fieldset{
  margin: auto;
  /* box-shadow: 2px 2px 2px 2px grey; */
  border: 1px;
}


.seaweed-script-regular {
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.east-sea-dokdo-regular {
  font-family: "East Sea Dokdo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form, table{
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:x-large;
}

nav, footer{
  font-family: "East Sea Dokdo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

